[run]
omit =
    tests/*
    */tests/*
    **/diracx/client/_generated/*
    **/diracx/testing/*
    **/gubbins/testing/*
    **/gubbins/client/_generated/*

[paths]
source =
    src/
    */src/
    */site-packages/
    /diracx_source/*/src/
    /diracx_source/*/*/src/

[report]
include_namespace_packages = true
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError

    # Ignore the default implementation of abstract methods
    ^\s*\.\.\.$

    if TYPE_CHECKING:
omit =
    **/diracx/client/*
    **/diracx/testing/*
