extra_css:
  - assets/css/extra.css

site_name: DiracX
repo_url: https://github.com/DIRACGrid/diracx
site_url: https://diracx.io/
site_description: >-
  DiracX is the modern, next-generation successor to the DIRAC distributed computing framework,
  originally developed by LHCb at CERN for large-scale scientific data management and workload processing.
  DiracX redefines distributed infrastructure with a microservices architecture, token-based authentication,
  and a focus on usability, extensibility, and easy deployment.

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/theme-light-dark
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  logo: assets/images/logo.svg
  icon:
    logo: logo
  features:
    - content.action.edit
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - header.autohide
    - navigation.expand
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
  custom_dir: docs/overrides/

nav:
  - Home: index.md

  - Roadmap: roadmap.md

  - User Guide:
    - user/index.md
    - Getting started: user/tutorials/getting-started.md
    - Known installations: user/reference/known-installations.md
    - Tutorials:
      - user/tutorials/index.md
    - How-To:
      - Command Line: user/reference/programmatic-usage/command-line-interface.md
      - Programmatic Usage:
        - user/reference/programmatic-usage/index.md
        - Python: user/reference/programmatic-usage/python-interface.md
        - HTTPS: user/reference/programmatic-usage/https-interface.md
      - Web Interface:
        - user/how-to/index.md
        - Logging in: user/how-to/login-out.md
        - List and share applications: user/how-to/list-and-share-applications.md
        - Monitor jobs: user/how-to/monitor-jobs.md
    - Explanations:
      - user/explanations/index.md
    - Reference:
      - user/reference/index.md
      - Client Config: user/reference/client-configuration.md

  - Administrator Guide:
    - admin/index.md
    - How-To:
      - admin/how-to/index.md
      - Installation:
        - admin/how-to/install/index.md
        - Minimal requirements: admin/how-to/install/minimal-requirements.md
        - Installing kubernetes: admin/how-to/install/install-kubernetes.md
        - Convert CS: admin/how-to/install/convert-cs.md
        - Installing DiracX: admin/how-to/install/installing.md
        - Connect DIRAC to DiracX: admin/how-to/install/connect.md
        - Register the admin VO: admin/how-to/install/register-the-admin-vo.md
        - Register a VO: admin/how-to/install/register-a-vo.md
        - Embracing DiracX: admin/how-to/install/embracing.md
      - Debugging: admin/how-to/debugging.md
      - Upgrading: admin/how-to/upgrading.md
      - Rotate a secret: admin/how-to/rotate-a-secret.md
    - Explanations:
      - admin/explanations/index.md
      - Auth in DiracX: admin/explanations/auth-with-diracx.md
      - Auth with external services: admin/explanations/auth-with-external.md
      - User Management: admin/explanations/user-management.md
      - Configuration: admin/explanations/configuration.md
      - OpenTelemetry: admin/explanations/opentelemetry.md
      - Chart structure: admin/explanations/chart-structure.md
      - Databases: admin/explanations/database-management.md
      - Sandbox Store: admin/explanations/sandbox-store.md
      - Web release process: admin/explanations/manage-web-release.md
    - Tutorials:
      - admin/tutorials/index.md
      - Authentication: admin/tutorials/authentication.md
    - Reference:
      - admin/reference/index.md
      - Security Model: admin/reference/security_model.md
      - Settings and Preferences: admin/reference/settings-and-preferences.md
      - Environment variables: admin/reference/env-variables.md
      - Charts values: admin/reference/values.md
      - RUN_PROD.md
      - SSO.md

  - Developer Guide:
    - dev/index.md
    - Tutorials:
      - dev/tutorials/index.md
      - Backend:
          - Getting started: dev/tutorials/getting-started.md
          - Larger developments: dev/tutorials/larger-developments.md
          - Advanced tutorial: dev/tutorials/advanced-tutorial.md
          - Making changes: dev/tutorials/making-changes.md
          - Run a full DiracX instance locally: dev/tutorials/run-locally.md
          - Play with auth: dev/tutorials/play-with-auth.md
      - Frontend:
          - Web:
              - Getting started: dev/tutorials/web-getting-started.md
              - Creating a web extension: dev/tutorials/web-extensions.md
    - How-To:
      - dev/how-to/index.md
      - Contribute: dev/how-to/contribute.md
      - Write docs: dev/how-to/write-docs.md
      - Use the demo:
        - dev/how-to/use-the-demo/index.md
        - Accessing the client: dev/how-to/use-the-demo/swagger.md
        - Accessing DiracX Web: dev/how-to/use-the-demo/web.md
      - Backend:
        - Add functionality:
          - dev/how-to/add-functionality/index.md
          - New route or router: dev/how-to/add-a-route.md
          - New task: dev/how-to/add-a-task.md
          - New DB: dev/how-to/add-a-db.md
          - New settings: dev/how-to/add-a-setting.md
          - Add a test: dev/how-to/add-a-test.md
        - Extend DiracX:
          - dev/how-to/extend-diracx/index.md
        - Develop legacy DIRAC: dev/how-to/develop-legacy-dirac.md
      - Frontend:
        - CLI:
          - New CLI command: dev/how-to/add-a-cli-command.md
          - Client customization: dev/how-to/client-customization.md
          - Client generation: dev/how-to/client-generation.md
          - Client extensions: dev/how-to/client-extension.md
        - Web:
          - Contribute to web: dev/how-to/contribute-to-web.md
          - Setup web environment: dev/how-to/setup-web-environment.md
          - Create a web application: dev/how-to/create-web-application.md
          - Manage web extensions: dev/how-to/manage-web-extension.md
    - Explanations:
      - dev/explanations/index.md
      - Repository structure: dev/explanations/repo-structure.md
      - Documentation system: dev/explanations/documentation-system.md
      - Components overview: dev/explanations/components/index.md
      - Dependency management: dev/explanations/dependency-management.md
      - Run demo: dev/explanations/run_demo.md
      - Backend:
          - Components:
              - Databases: dev/explanations/components/db.md
              - Routes: dev/explanations/components/routes.md
          - Testing: dev/explanations/testing.md
          - Extensions: dev/explanations/extensions.md
          - Designing functionality: dev/explanations/designing-functionality.md
      - Frontend:
          - CLI:
              - API: dev/explanations/components/api.md
              - CLI: dev/explanations/components/cli.md
              - Client: dev/explanations/components/client.md
          - Web:
              - Architecture: dev/explanations/web-architecture.md
              - Testing: dev/explanations/web-testing.md
    - Reference:
      - dev/reference/index.md
      - Coding conventions: dev/reference/coding-conventions.md
      - Writing tests: dev/reference/writing-tests.md
      - Test recipes: dev/reference/test-recipes.md
      - Pixi tasks: dev/reference/pixi-tasks.md
      - Dev env variables: dev/reference/env-variables.md
      - Backend:
          - Configuration: dev/reference/configuration.md
          - Dependency injection: dev/reference/dependency-injection.md
          - Application state: dev/reference/application-state.md
          - DB transaction model: dev/reference/db-transaction-model.md
          - Entrypoints: dev/reference/entrypoints.md
          - Security policies: dev/reference/security-policies.md
          - Security properties: dev/reference/security-properties.md
      - Frontend:
          - CLI:
              - Client metapathfinder: dev/reference/client-metapathfinder.md
          - Web:
              - Coding conventions: dev/reference/web-coding-conventions.md

markdown_extensions:
  - admonition
  - md_in_html
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
  - tables

plugins:
  - privacy
  - diracx:
      repos:
        - url: https://github.com/DIRACGrid/diracx-charts
          branch: master
          include:
            - docs
            - diracx
        - url: https://github.com/DIRACGrid/diracx-web
          branch: main
          include:
            - docs
  - search
  - mermaid2
  - autorefs
