-e ./[testing,types]
-e ./diracx-core/[testing,types]
-e ./diracx-api/[testing,types]
-e ./diracx-cli/[testing,types]
-e ./diracx-client/[testing,types]
-e ./diracx-routers/[testing,types]
-e ./diracx-db/[testing,types]
-e ./diracx-testing/[testing,types]
-e ./diracx-logic/[testing,types]
