-e ./[testing]
-e ./diracx-core/[testing]
-e ./diracx-api/[testing]
-e ./diracx-cli/[testing]
-e ./diracx-client/[testing]
-e ./diracx-routers/[testing]
-e ./diracx-db/[testing]
-e ./diracx-testing/[testing]
-e ./diracx-logic/[testing]
