name: Record Changes Requested

on:
  pull_request_review:
    types: [submitted]

jobs:
  record:
    if: github.event.review.state == 'changes_requested'
    runs-on: ubuntu-latest
    steps:
      - run: 'true'
